    <nav class="navbar navbar-expand-sm bg-body-tertiary">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Accueil</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Règlement du jeu</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Jouer</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
