<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, width=device-width"/>
		<meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0"/>
		
			{% block title %}
        <title>Garou </title>
			{% endblock %}
		{# <link rel="stylesheet" href="/css/bootstrap.min.css"> #}


	</head>
		<body>
	
  {% include 'partials/header.html.twig' %}
<p> saluuut </p>
		</body>
	{% include 'partials/footer.html.twig' %}

</html>


