{% extends 'base.html.twig' %} 
{% block stylesheets %}
  <link rel="stylesheet" href="css/accueil.css" type="text/css">
{% endblock %}

{% block body %}

<div class="logo-home"> <img src="images\loupsGarousLogo.webp" alt="Logo Loup Garou" class="logo"/> </div>
<div class="bouton-home">
  <button class="bouton"> JOUER </button>
  <button class="bouton"> RÈGLE </button>
</div>

{% endblock %}
