{% extends 'base.html.twig' %} 

{% block stylesheets %}
	<link rel="stylesheet" href="css/reglement.css" type="text/css">
{% endblock %}

{% block body %}
<div class="image- ">
<img src="images/image1.PNG"/>
</div>
  <section class="presentation first"><div class="product-presentation">
<h1>Les Loups-Garous de Thiercelieux</h1>
<p>Les Loups-Garous de Thiercelieux est un jeu de société d'ambiance, dans lequel les joueurs doivent démasquer les loups-garous qui se cachent parmi eux. Le jeu se déroule en plusieurs tours, durant lesquels les joueurs peuvent discuter entre eux pour tenter de découvrir l'identité des loups-garous, ou pour se disculper eux-mêmes. Chaque nuit, les loups-garous choisissent une personne à tuer, et chaque jour, les joueurs votent pour décider qui ils soupçonnent d'être un loup-garou, et cette personne est éliminée du jeu. Le jeu se termine lorsque les loups-garous ont tué tous les villageois, ou lorsque les villageois ont tué tous les loups-garous.</button>
<div class="main">
      <div class="gallery">
        <a target="_blank" href="images/image2.png">
          <img src="images/image2.png" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Chaque nuit, ils dévorent un Villageois.
 Le jour, ils essaient de masquer leur identité nocturne pour échapper à la vindicte populaire. Ils sont 1 à 6 suivant le nombre de joueurs et les variantes appliquées. En aucun cas un Loup-Garou ne peut dévorer un autre Loup-Garou.</div>
      </div>

      <div class="gallery">
        <a target="_blank" href="images/image3.png">
          <img src="images/image3.png" alt="Forest" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>

      <div class="gallery">
        <a target="_blank" href="images/image44.png">
          <img src="images/image44.png" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>

      <div class="gallery">
        <a target="_blank" href="images/image5.png">
          <img src="images/image5.png" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>

      
      
    </div>

</div> 
</div>

</section>







{% endblock %}
